@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-top: 0;
    padding: 20px;
}

.header input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.navbar{
    display: flex;
    justify-content: left;
    width: 100%;
}

.navbar a {
    padding: 0px  10px;
    color: #E51636;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);
    text-underline-offset: 0.2em;
    transition: 0.3s ease;
}

#login {
    margin-left: auto;
}


.navbar a:hover {
    text-decoration-color: rgba(229, 22, 54, 1);
}

.fas {
    transition: 0.2s ease;
    font-size: 1.5em;
}

.fas:hover {
    transform: scale(1.3);
}

.background {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.png {
    transform: scale(0.7);
}

.chicken {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 250);
}

.cknimg img {
    transition: 0.3s ease;
}

.cknimg img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.eatmore {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E51636;
    flex-direction: column;
    padding: 4rem;
}

.text1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    text-transform: uppercase;
}

.button {
    margin-top: 0.35em;
    margin-left: 0.6em;
}

.button button {
    font-size: 0.6em;
    padding: 0.5rem 1rem;
    border: 2px solid #182541;
    color: #182541;
    background-color: #fff;
    border-radius: 0.5rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    color: #E51636;
    border: 2px solid #E51636;
    transition: 0.3s ease;
    cursor: pointer;
}

.text2 {
    padding: 1rem;
}

.text2 a {
    font-size: 1.2em;
    letter-spacing:  0.1rem;
    color: #182541;
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);
    text-underline-offset: 0.2em;
    transition: 0.3s ease;
}

.text2 a:hover {
    text-decoration-color: #182541;
}

.video {
    display: flex;
    justify-content: center;
}

.cows {
    border: 4px solid #E51636;
    margin-bottom: 30px;
    box-shadow: 3px 3px 10px #333;
}

.crew {
    display: flex;
    justify-content: center;
    color: #E51636;
    margin-bottom: 2rem;
    font-style: italic;
    font-size: 0.75em;
}

.formbx {
    display: flex;
    justify-content: center;
}

.formbx label {
    font-size: 1em;
    color: #182541;
    font-weight: 700;
}

.formbx input {
    border: 2px solid #182541;
    border-radius: 5px;
    padding: 0.2rem;
}

.formbx input::placeholder {
    color: rgba(24, 37, 65, 0.7);
}

.formbx button {
    border: none;
    background-color: #fff;
    transition: 0.3s ease;
}

.formbx button:hover {
    background-color: #E51636;
    padding: 0.3rem 0.2rem;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s ease;
}

.footerbx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footerbx h2 {
    color: #182541;
    font-weight: 900;
}

.footer {
    padding: 2em;
}

.footer a {
    padding: 1rem;
    font-size: 1.5em;
    color: #E51636;
}

.fab {
    transition: 0.3s ease;
}

.fab:hover {
    transform: scale(1.5);
}
