<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chick-fil-A</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/4cf78acc70.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="header">
        <div class="navbar">
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="/menu">Menu</a>
            <a href="/about">About</a>
            <a href="/chat">Contact</a>
            <a id="login" href="/login"><i class="fa fa-user"></i></a>
        </div>
    </div>

    <div class="background">
        <div class="png">
            <img src="img/png.png">
        </div>
    </div>
    
    <div class="chicken">
        <div class="cknimg">
            <img src="img/CS.png" style="width: 100%;" title="Chicken Sandwich">
        </div>
        <div class="cknimg">
            <img src="img/fry.png" style="width: 100%;" title="Waffle Fries">
        </div>
        <div class="cknimg">
            <img src="img/nug.png" style="width: 100%;" title="Chicken Nuggies">
        </div>
    </div>

    <div class="eatmore">
        <div class="text1">
            <h2>Eat Mor Chikin!</h2>
            <div class="button">
                <button type="button" onclick="window.alert('MoOoOooOOOOooOOOoOooO!')">Moo</button>
            </div>
        </div>
        <div class="text2">
            <a href="https://www.ucdavis.edu/food/news/making-cattle-more-sustainable" target="blank">Save the cows, save
                the planet</a>
        </div>
    </div>

    <div class="video">
        <div class="cows">
            <iframe width="1120" height="630" src="https://www.youtube.com/embed/26qzmw_xG58" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="crew">
        <p>Brought to you by the Cattle-Crew&reg;</p>
    </div>

    <div class="formbx">
        <form action="" id="form" onsubmit="sConsole(event)">
            <label for="cow">Whats your favorite cow?</label>
            <input type="text" name="data"id="data" placeholder="Betty...Ron...">
            <button type="submit">Submit</button>
        </form>
    </div>

    <footer class="footerbx" id="contact">
        <h2>Let's be friends</h2>
        <div class="footer">
            <a href="https://www.instagram.com/chickfila/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/ChickfilA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                target="blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/ChickfilA/" target="blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/user/chickfila/featured" target="blank"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>

</body>



</html>