<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://kit.fontawesome.com/4cf78acc70.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="header">
        <div class="navbar">
            <section class="logo">
                <a href="/">
                    <img src="../../img/anytimeLogo.png" alt="">
                </a>
            </section>
            <section>
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="">Servicios</a>
            <a href="">Acerca</a>
            <a href="">Contacto</a>
            </section>
        </div>
    </div>

    <div class="form-container">
        <h1>Login</h1>
        <form action="/login" method="post" id="formulario">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="button" id="loginButton">Login</button>
            <a href="/registro">¿Nuevo Cliente?, Registrate</a>
            <br>
            <br>
            <a href="/reset">¿Olvidaste tu contraseña?</a>

        </form>
    </div>

    <div class="footerbx" id="contact">
        <h2>Siguenos en redes</h2>
        <div class="footer">
            <a href="https://www.instagram.com/chickfila/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/ChickfilA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Es erp%7Ctwgr%5Eauthor"
                target="blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/ChickfilA/" target="blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/user/chickfila/featured" target="blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>

    <script src="../js/login.js"></script>
</body>

</html>