<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../css/formulario.css">
    <script src="https://kit.fontawesome.com/4cf78acc70.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="header">
        <div class="navbar">
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="/menu">Menu</a>
            <a href="/about">About</a>
            <a href="/chat">Contact</a>
        </div>
    </div>

    <div class="form-container">
        <h1>Ingresa un Nuevo Producto</h1>
        <form action="#" method="post" id="formulario"  enctype="multipart/form-data">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" step="0.01" required>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>

            <label for="foto">Foto:</label>
            <input type="file" id="foto" name="foto" accept="image/*" required onchange="mostrarImagenSeleccionada()">
            <div id="vistaPrevia"></div>
            <button type="submit" id="enviarBtn">Agregar Producto</button>
        </form>
    </div>

    <div class="footerbx" id="contact">
        <h2>Let's be friends</h2>
        <div class="footer">
            <a href="https://www.instagram.com/chickfila/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/ChickfilA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                target="blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/ChickfilA/" target="blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/user/chickfila/featured" target="blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>

<script src="../js/nuevoProducto.js"></script>
</body>

</html>
