<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your chat</title>
    <link rel="stylesheet" href="../css/chat.css">
</head>

<body>

    <div class="header">
        <div class="navbar">
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="/menu">Menu</a>
            <a href="/about">About</a>
            <a href="/chat">Contact</a>
        </div>
    </div>

    <section id="chat">
        <ul id="messages"></ul>
        <form id="form">
            <input type="text" name="message" id="input" placeholder="Type a message" autocomplete="off" />
            <button type="submit">Enviar</button>
        </form>
    </section>

    <div class="footerbx" id="contact">
            <h2>Let's be friends</h2>
            <div class="footer">
                <a href="https://www.instagram.com/chickfila/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/ChickfilA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                    target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/ChickfilA/" target="blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.youtube.com/user/chickfila/featured" target="blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    <script src="../js/chat.js"></script>
</body>

</html>